[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
authlib = "*"
flask-login = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-restful = "*"
pathvalidate = "*"
requests = "*"
requests-oauthlib = "*"
flask-cors = "*"
josepy = "*"
pyopenssl = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
