<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Note Taker</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/ui.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="logoimg" src="/static/images/notelogo.png"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        Home
                    </a>
                </li>

                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('notes.index') }}" class="navbar-item">
                        Notes
                    </a>
                </li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        Sign Up
                    </a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        Logout
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>
    </div>

    <main>

        {% block content %}
        {% endblock %}

    </main>
    <footer class="red lighten-2 white-text">
        <div>Copyright</div>
    </footer>

</body>

</html>